.bgw {
	background: #fff;
}
.bgb {
	background: #333;
}
.bgg {
	background: #f3f3f3;
}
.rcorners {
	border-radius: 4px;
}
.fl {
	float:left;
}
.cf {
	clear:both;
}
.tac {
	text-align: center;
}
.dib {
	display:inline-block;
}
.list-view {
 	padding-top: 25px;
}
.m10 {
	margin:10px;
}
.mb10 {
 	margin-bottom: 10px;
}
.mb30 {
 	margin-bottom: 30px;
}
.mr10 {
	margin-right: 10px;
}
.ml15 {
	margin-left:15px;
}
.ml10 {
	margin-left: 5px;
}
.mt10 {
	margin-top:10px;
}
.m25 {
 	margin: 25px;
}
.mb25 {
 	margin-bottom: 25px;
}
.mt25 {
 	margin-top: 25px;
}
.mt30 {
 	margin-top: 30px;
}
.m0 {
	margin:0;
}
.mb0 {
	margin-bottom:0;
}
.p4 {
	padding: 4px;
}
.p10 {
	padding: 10px;
}
.p20 {
	padding: 20px;
}
.p5 {
	padding:5px;
}
.rm {
	background-position: -307px 5px;
	vertical-align: top;
	opacity: .7;
	cursor: pointer;
}
.size-header {
	font-size:42px;
}
.mh30 {
	min-height: 30px;
}

button.btn.mt5 {
	margin-top:5px 0 0 0 !important;
}

.main {
	margin:0 auto !important;
	float:none !important;
}

.main li {
	list-style: none;
}

.disable {
	opacity: .4 !important;
}

.hide {
	visibility:false !important;
}
.inProgress {
	background-color:#d9edf7;
	border-color:#d9edf7;
}