<div class="row-fluid mt25">
    <div class="mb30" 
        ng-controller="NavCtrl"
        ng-class="{ 'span4 offset4' : !todoLists.length,
            'span3' : todoLists.length }">
        <ul class="nav nav-tabs nav-stacked">
            <li ng-repeat="todoList in todoLists">
                <a ng-bind="todoList.list"
                    ng-click="setRoute(todoList.list)"></a>
            </li>
        </ul>
        <form class="m0">
            <input type="text"
                class="input-block-level hide"
                placeholder="List name"
                ng-model="newListName"
                ng-show="showInput">
            <button class="addList btn btn-block"
                ng-click="addNewList()">
                Start a new list!
            </button>
        </form>
    </div>
    <div class="span9" 
        ng-controller="InputCtrl"
        ng-show="todoLists.length">
        <div class="cf">
            <h1 class="dib"
                ng-bind="activeList.list"></h1>
            <i class="icon-remove p5 rm"
                ng-click="removeActiveList()"></i>
        </div>
        <div>
            <form class="m0">
                <span class="span8">
                    <input type="text" 
                            class="input-block-level" 
                            placeholder="Type something…"
                            ng-model="newItem">
                </span>
                <span class="span4">
                    <button ng-click="addNewItem()" 
                            class="btn mb10 btn-block">Submit</button>
                </span>
            </form>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <ul class="span12 main">
                        <li ng-repeat="todo in todoItems">
                            <span>
                                <span class="row-fluid">
                                    <span class="span12 well well-small p4 m10"
                                            ng-bind="todo.item"
                                            ng-class="{ 'disable':todo.statusCode == 2,
                                                        'inProgress': todo.statusCode == 1}"></span>
                                </span>
                                <a class="btn" 
                                    ng-class="{'btn-primary':todo.statusCode == 0}"
                                    ng-click="todo.statusCode = 0">Not Started</a>
                                <a class="btn" 
                                    ng-class="{'btn-primary':todo.statusCode == 1}"
                                    ng-click="todo.statusCode = 1">In Progress</a>
                                <a class="btn" 
                                    ng-class="{'btn-primary':todo.statusCode == 2}"
                                    ng-click="todo.statusCode = 2">Complete</a>
                                <a class="btn ml5"
                                         ng-class="{'hide':todo.statusCode != 2}"
                                         ng-click="removeItem($index)">
                                    <i class="icon-remove"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>